body,
html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.main input {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
    width: 60%;
    text-align: center;
}

input:focus {
    outline: none;
}

.main-content {
    color: white;
    margin-top: 12vh;
}

.main-content p {
    font-size: 45px;
    font-weight: bold;
}

.footer {
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 10px;
}

.footer a {
    text-decoration: none;
    color: rgb(1, 6, 49);
}

.footer a:hover {
    border-bottom: 2px solid rgb(1, 6, 49);
}

.footer .follow:hover {
    border-bottom: none;
}

#particles-js canvas {
    position: fixed;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(to top, #238181 0%, #330867 100%);
}

.follow img {
    margin-bottom: 8px;
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-30px);
    }
}

@keyframes bounce {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

#hidden-sec {
    display: none;
}

.hidden-sec input {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 15px;
    border: none;
    text-align: center;
    margin-left: 10px;
}

input:focus {
    outline: none;
}

.hidden-sec span {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.home {
    text-decoration: none;
    color: white;
    transition: 0.6s;
}

.home:hover {
    text-decoration: none;
    transition: 0.6s;
    color: rgba(255, 255, 255, 0.685);
}

#info {
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.repo-heading {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    color: rgb(235, 232, 232);
}

.card-body a{
    color: white;
    text-decoration: none;
    border-width: 20%;
    border-bottom: 2px solid white;    
}

.card-body a:hover{
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;  
    border-width: 100%;  
}